<!DOCTYPE html>
<html lang="en"> 

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Details</title>
</head>

<body>
    <div class="container" id="frm_container">
        <p>
            Hello {{ data.first_name }}
        </p>
        <p>
            Your account id is {{ data.id }}
        </p>
        <p>
            Your current balance is $ {{ data.balance}}
        </p>
    </div>

</body>

</html>